In [1]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
train = pd.read_csv('train_20D8GL3.csv')
test = pd.read_csv('test_O6kKpvt.csv')
sample_submission = pd.read_csv('sample_submission_gm6gE0l.csv')

In [3]:
print(train.shape)
print(test.shape)

(21000, 25)
(9000, 24)

In [4]:
# check train.head(5)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment_next_month
0,25150,360000,2,2,2,25,-1,-1,-1,-1,...,3435,8870,2020,12590,3479,3446,8870,2020,27043,0
1,13470,240000,2,1,2,46,2,2,-2,-1,...,2240,1681,2267,0,0,2240,0,2267,3074,0
2,3092,320000,2,2,1,41,0,0,0,0,...,35409,35036,35939,5000,2000,2000,3000,3000,1500,0
3,13973,50000,2,2,2,24,-1,-1,-2,-2,...,0,0,0,0,0,0,0,0,0,1
4,10567,80000,1,3,1,52,-1,0,0,0,...,20561,21261,21457,1500,1500,1500,1028,876,1449,0

In [10]:
# check for categorical types

for i in train.dtypes:
    if i != 'int64':
        print(i)

In [12]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,21000.0,14949.183667,8632.775153,1.0,7508.75,14939.5,22386.75,29998.0
LIMIT_BAL,21000.0,167214.746667,128965.188482,10000.0,50000.00,140000.0,240000.00,800000.0
SEX,21000.0,1.607571,0.488303,1.0,1.00,2.0,2.00,2.0
EDUCATION,21000.0,1.854190,0.791628,0.0,1.00,2.0,2.00,6.0
MARRIAGE,21000.0,1.551714,0.521176,0.0,1.00,2.0,2.00,3.0
AGE,21000.0,35.461619,9.206628,21.0,28.00,34.0,41.00,75.0
PAY_0,21000.0,-0.011190,1.123210,-2.0,-1.00,0.0,0.00,8.0
PAY_2,21000.0,-0.127238,1.198957,-2.0,-1.00,0.0,0.00,8.0
PAY_3,21000.0,-0.164857,1.198624,-2.0,-1.00,0.0,0.00,8.0
PAY_4,21000.0,-0.218190,1.172210,-2.0,-1.00,0.0,0.00,8.0
PAY_5,21000.0,-0.260952,1.141454,-2.0,-1.00,0.0,0.00,8.0
PAY_6,21000.0,-0.288667,1.151592,-2.0,-1.00,0.0,0.00,8.0
BILL_AMT1,21000.0,51501.542381,73453.641859,-14386.0,3564.75,22578.0,67876.25,746814.0
BILL_AMT2,21000.0,49463.502667,70866.586004,-69777.0,3000.00,21550.0,64918.25,743970.0
BILL_AMT3,21000.0,47232.577762,69539.883466,-157264.0,2686.25,20242.0,60826.75,1664089.0
BILL_AMT4,21000.0,43387.372476,64081.073110,-170000.0,2332.00,19158.5,55376.75,706864.0
BILL_AMT5,21000.0,40398.551095,60396.811177,-81334.0,1759.00,18266.5,50517.25,587067.0
BILL_AMT6,21000.0,38931.194000,59196.499234,-209051.0,1242.75,17203.5,49463.00,699944.0
PAY_AMT1,21000.0,5686.349333,16868.075695,0.0,998.25,2100.0,5023.25,873552.0
PAY_AMT2,21000.0,5923.003476,23909.526477,0.0,836.00,2011.0,5000.00,1684259.0
PAY_AMT3,21000.0,5202.325333,17006.416467,0.0,390.00,1811.5,4500.00,889043.0
PAY_AMT4,21000.0,4793.172000,15467.403159,0.0,284.00,1500.0,4002.25,621000.0
PAY_AMT5,21000.0,4797.012952,15270.031988,0.0,241.00,1500.0,4051.00,417990.0
PAY_AMT6,21000.0,5211.736762,17698.795697,0.0,102.00,1500.0,4000.00,528666.0
default_payment_next_month,21000.0,0.221190,0.415058,0.0,0.00,0.0,0.00,1.0

In [15]:
# check for NA:

train.isna().sum().sum()

0

In [ ]:
# train test split

# standardization

scaler = StandardScaler()